.custom-pitch-container {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(sandybrown, maroon);
    --line: 0.3em solid white;
    height: 100vh; /* Ensures the container takes up the full height */
}

.custom-pitch-container .container {
    width: 100%;
    max-width: 1200px; /* Set a max width for better responsiveness */
    height: 80vh; /* This sets the height of the field */
    background-color: green;
    font-size: 5px;
    padding: 2em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-pitch-container .field {
    border: var(--line);
    position: relative;
    width: 100%; /* Use full width of container */
    height: 100%; /* Use full height of container */
    z-index: 1;
}

.custom-pitch-container .left, .custom-pitch-container .right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}

.custom-pitch-container .halfway-line {
    width: 100%;
    height: 100%;
    border-right: var(--line);
}

.custom-pitch-container .centre-circle,
.custom-pitch-container .penalty-arc {
    width: 20em;
    height: 20em;
    border: var(--line);
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.custom-pitch-container .penalty-area {
    width: 18em;
    height: 44em;
    border: var(--line);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.custom-pitch-container .penalty-mark {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 12%;
}

.custom-pitch-container .goal-area {
    width: 6em;
    height: 20em;
    border: var(--line);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.custom-pitch-container .corner-arc {
    width: 100px;
    height: 100px;
    border: 0.3em solid white;
    position: absolute;
    top: -5%;
    left: -5%;
    border-radius: 50%;
}

.custom-pitch-container .right {
    transform: rotateY(180deg); /* Flips the right section */
}

.custom-pitch-container .corner-arc::after,
.custom-pitch-container .corner-arc::before {
    content: '';
    position: absolute;
    width: 5em;
    height: 5em;
    border: 0.3em solid white;
    border-radius: 50%;
    left: calc(-5em / 2 - 0.3em);
}

.custom-pitch-container .corner-arc::before {
    top: calc(-5em / 2 - 0.3em);
}

.custom-pitch-container .corner-arc::after {
    bottom: calc(-5em / 2 - 0.3em);
}
