{% load static %}


<!--================= Blog Section Start Here =================-->
<div class="rts-blog-section section-gap">
    <div class="container">
        <div class="section-title-area section-title-area1 text-center mb--50">
            <h1 class="section-title"><span class="pretitle">TESTIMONIALS </span>WHAT OUR USERS SAY</h1>
            <p>Our users are at the heart of everything we do. From unforgettable experiences to thrilling competitions,
                hear directly from them.</p>
        </div>
    </div>
    <div class="rts-match-result-section">
        <div class="row">
            <div class="swiper rts-sixSlide-over">
                <div class="swiper-wrapper">
                    <div class="swiper-slide col-item">
                        <div class="match-single">
                            <div class="match-scores">
                                <div class="club">
                                    <img src="{% static 'assets/images/background/megabg.jpg' %}"
                                        alt="User Testimonial"
                                        style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; margin: 0 auto;">
                                </div>
                            </div>
                            <p style="text-align: center; padding: 10px 20px 10px 20px;">
                                PangaSquadii has completely transformed the way I compete and connect with others.
                            </p>
                            <span class="testimonial-author">Bspin</span>
                        </div>
                    </div>
                    <div class="swiper-slide col-item">
                        <div class="match-single">
                            <div class="match-scores">
                                <div class="club">
                                    <img src="{% static 'assets/images/background/slide-3.jpg' %}"
                                        alt="User Testimonial"
                                        style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; margin: 0 auto;">
                                </div>
                            </div>
                            <p style="text-align: center; padding: 10px 20px 10px 20px;">
                            Joining PangaSquadii was a game-changer! The leagues are engaging. The leaning curve is simple
                            </p>
                            <span class="testimonial-author">Ndegwa</span>
                        </div>
                    </div>

                    <div class="swiper-slide col-item">
                        <div class="match-single">
                            <div class="match-scores">
                                <div class="club">
                                    <img src="{% static 'assets/images/background/megabg.jpg' %}"
                                        alt="User Testimonial"
                                        style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; margin: 0 auto;">
                                </div>
                            </div>
                            <p style="text-align: center; padding: 10px 20px 10px 20px;">
                            The competition is fierce, and the fun never stops! PangaSquadii lets me show off my
                                skills.
                            </p>
                            <span class="testimonial-author">Maggie</span>
                        </div>
                    </div>

                    <div class="swiper-slide col-item">
                        <div class="match-single">
                            <div class="match-scores">
                                <div class="club">
                                    <img src="{% static 'assets/images/background/slide-4.jpg' %}"
                                        alt="User Testimonial"
                                        style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; margin: 0 auto;">
                                </div>
                            </div>
                            <p style="text-align: center; padding: 10px 20px 10px 20px;">
                            I’ve joined several leagues, but none have been as exciting as PangaSquadii!
                            </p>
                            <span class="testimonial-author">Rodgers</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--================= BLog Details Section End Here =================-->


